@tailwind base;
@tailwind components;
@tailwind utilities;

html,

body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    z-index: 1000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #52ab98;
    border-radius: 5px;
  }


* {
    box-sizing: border-box;
}

/* Full Calendar */

input {
    font-family: 'Poppins';
    @apply px-2;
}
  .fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;
    
    @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-[#52ab98] border border-[#52ab98] ;
  
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-[#52ab9833];
}

.fc .fc-button{
  @apply bg-[#52ab98] hover:bg-[#3c8d72] border-none hover:border-none; ;
}

.fc .fc-button-primary {
  @apply bg-[#52ab98] border-none;
}

.fc .fc-button-primary:not(:disabled):hover {
  @apply bg-[#3c8d72] border-none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-[#3c8d72] border-none hover:border-none ;
}

.fc .fc-button-primary.fc-button-active {
  @apply bg-[#3c8d72] border-none hover:border-none ;
}

.fc .fc-button:focus {
  @apply bg-[#3c8d72] border-none hover:border-none ;
}

.fc .fc-button-primary:disabled {
  @apply bg-[#52ab98] border-none;
}
.fc-v-event {
  @apply bg-[#52ab98] border border-[#52ab98] ;
  
}