.background {
  margin: 0;
  padding: 0;
  background-color: #52ab98;
  height: 100dvh;
  width: 100dvw;
  display: flex;
}
/* Original */
.container {
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #52ab9850;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.widebutton {
  background-color: #52ab98;
  color: #fff;
  border: none;

  flex-grow:1;
  font-size: 35px;
  font-family: Poppins;
  border-radius: 4px;
  cursor: pointer;
}

.widebutton:hover {
  background-color: #52ab9850;
}
