.chatview {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .inputcontainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .inputtext {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .sendMessageButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sendMessageButton:hover {
    background-color: #0056b3;
  }
  