
.layout {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .sidebar {
    background-color: #52ab9833;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 1.5%;
    padding-right: 0.763%;
    padding-bottom: 2.41%;
    padding-top: 2.31%;
  }
  .calendarcontainer {
    background-color: #ffffff;
    display: flex;
    width: 75%;
    height: 100%;
  }
  