
.full {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    min-width: 100vw;
    display: flex;
}


.calendar {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: #52ab98;
}

.calendar-header {
    display: flex;
    width: 1/1;
}

.calendar-body {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}