  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .title {
    font-size: 36px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
  }
  .borderCircle {
    border-radius: 9999px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .profile {
    margin-right: 20px;
    margin-left: 20px;
  }